.titleBox{
    background-color: brown;
    line-height: 60px;
    background-color: cornflowerblue;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}
.addBox{
    /* background-color: brown; */
    overflow: hidden;
}

.newRecoredBtn{
    float: right;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
}
